/* ==========================================

共通

==========================================*/

body {
  display: flex; /* footer下部に固定のため */
  flex-direction: column; /* footer下部に固定のため */
  min-height: 100vh; /* footer下部に固定のため */
  margin: 0 auto;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  color: #424040;
  font-size: 14px;
}

.container {
  flex-grow: 1; /* 利用可能な残りのスペースをすべて占める */
  max-width: 900px;
  margin: 20px auto;
  text-align: left;
}

/* ==========================================

メイン

==========================================*/

main {
  flex-grow: 1; /* footer下部に固定のため */
  margin: 0 auto;
}

h2 {
  margin: 30px 0;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #333333;
}

table {
  align-items: center;
  width: 800px;
  margin: 0 auto;
}

th,
td {
  padding: 6px 30px;
  border: 1px solid #a8a8a8;
  font-size: 14px;

  padding: 10px;
  text-align: left;
  vertical-align: top;
}

th {
  text-align: center;
  font-weight: bold;
  background-color: #c7e5f0;
}

tr:nth-child(even) {
  background-color: #f8f8f5;
}

.no-data {
  text-align: center;
  color: #777;
  margin-top: 20px;
  padding: 10px;
  border: 1px dashed #ccc;
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
}

.list {
  text-align: center;
  margin: 40px 0;
}

.list-btn {
  border: 1px solid #a8a8a8;
  padding: 10px 40px;
  border-radius: 4px;
  color: #333333;
}

.list-btn:hover {
  color: #1b79d7;
  border: 1px solid #1b79d7;
}

.qa-list {
  width: 800px;
  margin-top: 40px;
}

.qa-list li {
  padding: 10px 5px;
  border-bottom: 1px solid #a8a8a8;
  font-size: 14px;
}

.qa-list li:first-child {
  margin-top: 20px;
}

.qa-list li:last-child {
  border-bottom: none;
}

/* 各質問の前に Q. を挿入 */
.qa-list li::before {
  content: "Q. "; /* 挿入したいテキスト */
  font-weight: bold;
  color: #896666;
}

/* ==========================================

フッター

==========================================*/

footer {
  margin-top: 30px;
  padding: 18px;
  background-color: #806e6e;
}

footer p {
  text-align: center;
  font-size: 12px;
  color: #ffffff;
}
